@charset "UTF-8";

#content{
	position: center;
}

.article-detail
{	
	width:720px;
	border-top: 2px solid #8CBA34;
	position: center;
}

.article-detail-row
{
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #E9E9E9;
	clear: both;
}

.article-detail-title
{	
	width:155px;
	background: #f5f5f5;
	text-align:center;
	float:left;
}

.article-detail-data
{
	width:565px;
	text-indent: 15px;
	float:left;
}

.half-row
{
	width:360px;
	float:left;
	clear:none;
}

.half-data
{
	width:205px;
}

.article-content
{	
	clear:left;
	padding: 20px;
	border-bottom:1px solid rgb(233,233,233);
}

.article-comment 
{
	text-align: center;
}

.article-detail input
{
	height: 23px;
	width:500px;
	vertical-align: middle;	
}

.article-detail textarea
{
	width:680px;
	min-height: 300px;
}